/* color sheet:
yellow:#FDB927
blue:#006BB6
black:#26282A


for player comparison:

light blue:#41B6C4
light green:#A1DAB4

dark red:#F03B20
light orange #FD8D3C:
*/
/*overall*/
h1,h2,h3,h4{
    font-family: 'Roboto', sans-serif;
}
h6{
    font-family: "Palatino";
    font-size: large;
    text-align:justify;

}
/* navbar */
.navbar .navbar-right{
    background-color: rgba(247,247,247,0.4); /* #f7f7f7*/
    text-shadow:none;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 18px;

}

.navbar-brand{
    position: relative;
}


.navbar-brand h1{
    position: relative;
    top:-28px;
    font-weight: 900;
}

.navbar .navbar-right ul li a{
    color:#006BB6;
}

.navbar .navbar-right ul li a:hover{
    background-color: rgba(247,247,247,0.5);
}

.top-nav-collapse{
    background-color:#006BB6 ;
}
.top-nav-collapse .navbar-right{
    background-color:#006BB6 ;
}
.top-nav-collapse .navbar-right ul li a{
    color: #ffffff;
}

.top-nav-collapse .navbar-right ul li a:hover{
    background-color: #0087EE;
}
.top-nav-collapse .navbar-right ul li a:active{
    background-color: #0087EE;
}
.top-nav-collapse .navbar-right ul li a:visited{
    background-color: #0087EE;
}
.top-nav-collapse .navbar-brand h1{
    color:#ffffff ;
}
/* section */
section{
    margin:0 50px 0 0;
    padding-top:50px;
}




/* intro */

.intro {
    width:100%;
    position:relative;
    background: url(../img/bg1.png) no-repeat top center;
}

#intro.intro {
    height:1080px;
    padding:20% 0 0 0;
}

.intro .slogan {
    text-align: center;

}

.intro .page-scroll {
    text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

.intro .slogan h2 {
    color: #FFF;
    text-shadow: none;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-width: 0px;
    border-color: #000;
    border-style: none;
    text-shadow: -1px 0 1px #000;
}

.intro .slogan h4 {
    color: #fff;
    text-shadow: -1px 1px 1px #000;
}

div.page-scroll{
    text-align: center;
}

a.section-page-scroll{
    color: #FFF;
    text-shadow: none;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-width: 0px;
    border-color: #000;
    border-style: none;
    text-shadow: -1px 0 1px #000;
}
#page-scroll-intro span:hover{
    cursor:pointer;
}
.section-head{
    text-align: center;
}
.section-head h3{
    color: #006BB6;
    text-shadow: none;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

.placeholder-div{
    text-align: center;
}

#page-scroll-story{
    color:#006BB6;
}


/* chart*/
.chart-container{
    text-align: center;
}

/*timeline*/
#team-timeline-chart{
    text-align: center;
}
.slider.slider-horizontal{
    width:500px;
}

.match-button {
    width:40px;
    height:40px;
    border-radius:100%;
    color:#FFFFFF;
    font-family:'Roboto',sans-serif ;
    font-weight:bold;
    text-align: center;
}
button.disabled {
    width:40px;
    height:40px;
    border-radius:100%;
    background-color: #333;
    color:#FFFFFF;
    font-family:'Roboto',sans-serif ;
    font-weight:bold;
    text-align: center;
}

#match-overall{
    background-color: #FDB927;
}

/* team titles */

.team-title{
    font-size: 24px;
    font-weight: 600;

}
#team1-title{
    color:#006BB6;
}

.team-img{
    width:165px;
    height:auto;
}
/*
.team-score{
    font-family: 'Oswald', sans-serif;
    font-size:72px;
    display: none;
}
*/
.score-text{
    font-family: 'Oswald', sans-serif;
    font-size:50px;
}

#stat-title{
    margin-top:5px;
    margin-bottom:5px;
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    font-size:32px;
}

/* shooting chart */
.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.hexagon {
    fill: none;
    stroke: #000;
    stroke-width: .5px;
}

#player-shooting-chart{
    height:600px;
    width:800px;
}
#team-shooting-chart{
    text-align: center;
}

svg#chart-area{
    padding-left:50px;
    padding-top:50px;

}
svg#chart-area2{
    padding-left:25px;
    padding-top:10px;

}

#radar-chart1.svg{
    padding-left:50px;
    padding-top:20px;
}
#radar-chart2.svg{
    padding-top:20px;
}

/*For test*/
/*
#selection3,#selection4{
    display: none;
}
*/


.player-div{
    text-align:center;
}
.player-img-wrapper{
    position: relative;
    width:100px;
    height:100px;
    border-radius: 50%;
    border:2px solid #26282A;
    display:none;
}

#player1-wrapper,#player2-wrapper{
    width:160px;
    height: 160px;
    padding-top:20px;
    display:block;
    //background-image: url(../img/1610612744.png);
    //background-size: 180px 180px;
    //background-position: center;
}

#player1-wrapper,#player2-wrapper:hover{
    cursor: pointer;
}


#player1-teammate-wrapper1{
    top:-260px;
}
#player1-teammate-wrapper2{
    top:-280px;
    left:-100px;
}
#player1-teammate-wrapper3{
    top:-260px;
    left:-100px;
}
#player1-teammate-wrapper4{
    top:-300px;
}

#player2-teammate-wrapper1{
    top:-260px;
    right:-50px;
}
#player2-teammate-wrapper2{
    top:-280px;
    right:-160px;
}
#player2-teammate-wrapper3{
    top:-260px;
    right:-160px;
}
#player2-teammate-wrapper4{
    top:-300px;
    right:-50px;
}

#player1-img,#player2-img{
    width:160px;
    height:auto;
    border-radius:100%;
    display:block;
}

#player2-img {
    left:40px;
}


.teammate{
    width: 100px;
    height: auto;
    border-radius:100%;
}

.player1-teammate{
    display:block;
}
/* Shooting legend

text.shooting_legend{
    font-size:10px;
} */

/*Tutorials*/
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    /*background-color: rgb(0,0,0);  Black fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.overlay-content {
    position: relative;
    top:25%;
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay-content h1,h2,h3,p,span{
    color: #ffffff;
    font-weight: 600;
}

.tutorial-text{
    font-size:18px;
    word-wrap: break-word;
}

#tutorial-step-1{
    text-align: center;
}

.tutorial-btn{
    width:150px;
    height:60px;
    background-color: Transparent;
    color:#FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size:24px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #FFFFFF;
}

.tutorial-btn:hover{

}

.tutorial-btn:active,.tutorial-btn:focus{
    outline: 0;
}

.tutorial-step-div{
    display:none;
}

#tutorial-step-1{
    display: block;
}

#tutorial-step-4{
    position: relative;
    top:300px;
}


.expose{
    possition:relative;
    z-index:9;
}

#btn-step-9{
    display: none;
}

.closebtn{
    position: absolute;
    top:-200px;
    right:50px;
    background-color: Transparent;
    color:#FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    text-align: center;
    width:30px;
    height:30px
}

.tutorial-btn:hover {
    outline: 0;
    color: #FFFFFF;
}

/*
a span .glyphicon{
    animation:vibrate 0.1s linear 0s infinite;
    //animation-iteration-count:5;
    -moz-animation: vibrate 0.1s linear 0s infinite;
    //-moz-animation-iteration-count:5;
/* Firefox
    -webkit-animation: vibrate 0.1s linear 0s infinite;
    //-webkit-animation-iteration-count:5;
/* Safari and Chrome
    -o-animation: vibrate 0.1s linear 0s infinite;
    //-o-animation-iteration-count:5;
/* Opera
}

@keyframes vibrate {
    0% {
        margin-top: 0px;
    }
    25% {
        margin-top: -2px;
    }
    50% {
        margin-top: 0px;
    }
    75% {
        margin-top: 2px;
    }
    100% {
        margin-top: 0px;
    }
}
@-moz-keyframes vibrate
    /* Firefox
{
    0% {
        margin-top: 0px;
    }
    25% {
        margin-top: -2px;
    }
    50% {
        margin-top: 0px;
    }
    75% {
        margin-top: 2px;
    }
    100% {
        margin-top: 0px;
    }
}
@-webkit-keyframes vibrate
    /* Safari and Chrome
{
    0% {
        marigin-top: 0px;
    }
    25% {
        margin-top: -2px;
    }
    50% {
        margin-top: 0px;
    }
    75% {
        margin-top: 2px;
    }
    100% {
        margin-top: 0px;
    }
}
@-o-keyframes vibrate
    /* Opera
{
    0% {
        margin-top: 0px;
    }
    25% {
        margin-top: -2px;
    }
    50% {
        margin-top: 0px;
    }
    75% {
        margin-top: 2px;
    }
    100% {
        margin-top: 0px;
    }
}
*/


.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}



